# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# Pyinstaller
*.manifest
*.spec

# Environments
.venv