# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/

# Pyinstaller
*.manifest

# Debug output
*debug*.png
*debug*.txt

# Environments
.venv
